[Unit]
Description=Service to save .bash_history file before shutdown 
DefaultDependencies=no
Before=shutdown.target reboot.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/bin/bash EXECUTION_PATH/save_history.sh

[Install]
WantedBy=multi-user.target